@use 'app/styles/mixins';

$br: 20px;
$pd: 15px;

.form {
  @include mixins.flex;
  width: 100%;

}

.input {
  border: none;
  padding: $pd;
  border-top-left-radius: $br;
  border-bottom-left-radius: $br;
  flex-basis: 85%;
  max-width: 400px;

}

.error {
  // transition: all 200ms ease-in;
}

.button {
  flex-basis: 50px;
  background-color: var(--very-dark-gray);
  padding: $pd;
  border-top-right-radius: $br;
  border-bottom-right-radius: $br;
}
