@use 'app/styles/mixins';

$br: 20px;
$pd: 15px;

.form {
  @include mixins.flex(center, stretch);
  position: relative;
  width: 100%;

}

.input {
  border: none;
  padding: $pd;
  border-top-left-radius: $br;
  border-bottom-left-radius: $br;
  flex-basis: 85%;
  max-width: 400px;

}

.error {
  position: absolute;
  top: -35%;
  text-transform: uppercase;
  @include mixins.font(14px, 700, #473d3d);
  letter-spacing: 2px;
}

.loader {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  // border: 2px solid white;

  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    inset: -0;
    border: 1px solid transparent;
    border-top-color:white;
    border-radius: 50%;
    animation: anim 1000ms ease infinite;
  }
  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    inset: -5%;
    border: 1px solid transparent;
    border-top-color:#e91e63;
    border-radius: 50%;
    animation: anim 900ms ease-in infinite reverse;
  }

  .one {
    display: inline-block;
    position: absolute;
    inset: -10%;
    border: 1px solid transparent;
    border-left-color:steelblue;
    border-radius: 50%;
    animation: anim 800ms ease infinite;
  }

  .two {
    display: inline-block;
    position: absolute;
    inset: 5%;
    border: 1px solid transparent;
    border-left-color:#ffc107;
    border-radius: 50%;
    animation: anim 600ms ease-in-out infinite reverse;
  }

  @keyframes anim {
    from {
      rotate: 0deg;
    }
    to {
      rotate: 360deg;
    }
  }
}

.button {
  @include mixins.flex;
  flex-basis: 50px;
  background-color: var(--very-dark-gray);
  border-top-right-radius: $br;
  border-bottom-right-radius: $br;
}
